In [1]:
import pandas as pd  #importing pandas package

In [2]:
weather_df = pd.read_csv("C:/Users/vbath/OneDrive/Desktop/Weather Analysis Mini Project/weather_2012.csv") #reading csv file and assigning it to weather_df data frame.

In [3]:
print("Shape: ",weather_df.shape)  #dimensions of dataframe
print("Index: :",weather_df.index) #index of dataframe

Shape:  (8784, 8)
Index: : RangeIndex(start=0, stop=8784, step=1)

In [4]:
weather_df.head() #first 5 rows

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [5]:
weather_df['Date/Time'].head()  #Date/Time column first 5 records

0    2012-01-01 00:00:00
1    2012-01-01 01:00:00
2    2012-01-01 02:00:00
3    2012-01-01 03:00:00
4    2012-01-01 04:00:00
Name: Date/Time, dtype: object

# To convert 'Data/Time' column Data Type from 'Object' to 'timestamp' we have to use 'to_datetime()' function in pandas

In [6]:
weather_df['Date/Time'] = pd.to_datetime(weather_df['Date/Time'])

In [7]:
weather_df['Date/Time'].head()

0   2012-01-01 00:00:00
1   2012-01-01 01:00:00
2   2012-01-01 02:00:00
3   2012-01-01 03:00:00
4   2012-01-01 04:00:00
Name: Date/Time, dtype: datetime64[ns]

# To know the information about data set we use .info() function in pandas

In [8]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   datetime64[ns]
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

In [9]:
weather_df['Weather']

0                        Fog
1                        Fog
2       Freezing Drizzle,Fog
3       Freezing Drizzle,Fog
4                        Fog
                ...
8779                    Snow
8780                    Snow
8781                    Snow
8782                    Snow
8783                    Snow
Name: Weather, Length: 8784, dtype: object

# To find distinct values in a column we use .unique() function in pandas

In [10]:
weather_df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [11]:
weather_df['Wind Spd (km/h)'].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2],
      dtype=int64)

# To find cout of distinct values we have .nunique() function in pandas

In [12]:
weather_df['Weather'].nunique()

50

# To find count of each distinct values we have .value_counts() function in pandas

In [13]:
weather_df['Weather'].value_counts

<bound method IndexOpsMixin.value_counts of 0                        Fog
1                        Fog
2       Freezing Drizzle,Fog
3       Freezing Drizzle,Fog
4                        Fog
                ...
8779                    Snow
8780                    Snow
8781                    Snow
8782                    Snow
8783                    Snow
Name: Weather, Length: 8784, dtype: object>

In [14]:
weather_df[weather_df['Weather'] == 'Clear'].shape[0] #.shape[0] function returns no. rows in a dataframe or series here it is a data frame having 'Clear' Weather.

1326

In [15]:
weather_df['Weather'].value_counts()[3]  # In Weather column 'Clear' value is at index 3 so to get the count of values having 'Clear' Weather we used .value_counts() function with index '3'.

C:\Users\vbath\AppData\Local\Temp\ipykernel_8692\703164085.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  weather_df['Weather'].value_counts()[3]  # In Weather column 'Clear' value is at index 3 so to get the count of values having 'Clear' Weather we used .value_counts() function with index '3'.

1326

In [16]:
weather_df[weather_df['Wind Spd (km/h)'] == 4].shape[0]  #.shape[0] function returns no. rows in a dataframe or series here it is a data frame having '4' Wind Spd.

474

In [17]:
weather_df['Wind Spd (km/h)'].value_counts()[4] # In Wind Spd column '4' value is at index 4 so to get the count of values having '4' Wind Spd we used .value_counts() function with index '4'.

474

## How to get the Weather column from the "weather_df" dataframe

In [18]:
col1 = weather_df['Weather']
print(type(col1))
col1.head()

<class 'pandas.core.series.Series'>

0                     Fog
1                     Fog
2    Freezing Drizzle,Fog
3    Freezing Drizzle,Fog
4                     Fog
Name: Weather, dtype: object

## How to get the Weather and Temperature columns from the "weather_df" dataframe
#### Keep in mind Whenever you need to take more than two columns need to put double sqaure like above example

In [21]:
col2 = weather_df[['Weather','Temp (C)']]
print(type(col2))
col2.head()

<class 'pandas.core.frame.DataFrame'>

                Weather  Temp (C)
0                   Fog      -1.8
1                   Fog      -1.8
2  Freezing Drizzle,Fog      -1.8
3  Freezing Drizzle,Fog      -1.5
4                   Fog      -1.5

# Get the first 25 rows from the "weather_df" dataframe

In [22]:
weather_df[:25]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,Fog
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,Fog
11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,Fog
12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,Fog
13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,Fog
14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,Fog
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,Fog
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,Mostly Cloudy
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,Cloudy
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,Rain
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,Rain
20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,Cloudy
21,2012-01-01 21:00:00,4.0,1.7,85,20,25.0,99.39,Cloudy
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,Rain Showers
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers

### How to get the first 3 alternating rows from the "weather_df" dataframe, but only the Visibility and Relative Humidity columns

In [29]:
# solution 1
result1 = weather_df[['Rel Hum (%)' ,'Visibility (km)']][:6:2]
print(result1)

   Rel Hum (%)  Visibility (km)
0           86              8.0
2           89              4.0
4           88              4.8

In [31]:
#solution 2
result2 = weather_df[:6:2][['Rel Hum (%)' ,'Visibility (km)']]
print(result2)

   Rel Hum (%)  Visibility (km)
0           86              8.0
2           89              4.0
4           88              4.8

### So which of the two solutions should you use?
#### Neither. Because we're indexing more than once (Chained Indexing). When you use chained indexing, the order and type of the indexing operation partially determine whether the result is a slice into the original object, or a copy of the slice.

#### Let's analyse (break down) one of the above solutions.

In [32]:
# first indexing
df1 = weather_df[:6:2]

# second indexing
df2 = df1[['Rel Hum (%)', 'Visibility (km)']]

##### While both results are correct in this read-only case, chained indexing may give unpredictable behaviours when writing to a dataframe.

##### This is because indexing could either return a "view" (of slices of the dataframe), or a copy of the dataframe.

## Selection (Part 2)

#### Pandas provides a powerful way to work with both rows and columns together, optionally using their label indices or numeric indices.

#### .loc :
#### Purely label-location based indexer for selection by label (but may also be used with a boolean array).
#### Important: If you use slicing in loc, it will return the end index as well


#### .iloc:
#### Purely integer-location based indexing for selection by position (but may also be used with a boolean array).

#### Allowed inputs are:

#### A single label, e.g. 5 or 'a'
#### A list or array of labels, e.g. ['a', 'b', 'c']
#### A slice object with labels, e.g. 'a':'f'

In [33]:
weather_df.loc[0:5, ['Visibility (km)','Rel Hum (%)']]

   Visibility (km)  Rel Hum (%)
0              8.0           86
1              8.0           87
2              4.0           89
3              4.0           88
4              4.8           88
5              6.4           87

In [34]:
weather_df[['Visibility (km)','Rel Hum (%)']].iloc[0:5]

   Visibility (km)  Rel Hum (%)
0              8.0           86
1              8.0           87
2              4.0           89
3              4.0           88
4              4.8           88

In [37]:
# Get the first 3 alternating rows from the weather_df dataframe, but only the Visibility and Relative Humidity columns

weather_df[['Visibility (km)','Rel Hum (%)']].iloc[0:6:2]

   Visibility (km)  Rel Hum (%)
0              8.0           86
2              4.0           89
4              4.8           88

In [38]:
weather_df[['Visibility (km)','Rel Hum (%)']].loc[0:5:2]

   Visibility (km)  Rel Hum (%)
0              8.0           86
2              4.0           89
4              4.8           88

## Find all instances when snow was recorded

In [40]:
snowed = weather_df['Weather'].str.lower().str.contains('snow')
print(snowed)

0       False
1       False
2       False
3       False
4       False
        ...
8779     True
8780     True
8781     True
8782     True
8783     True
Name: Weather, Length: 8784, dtype: bool

In [41]:
weather_df[snowed]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
41,2012-01-02 17:00:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,2012-01-02 20:00:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,2012-01-02 21:00:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
47,2012-01-02 23:00:00,-7.4,-14.1,59,17,19.3,100.27,Snow Showers
48,2012-01-03 00:00:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

#### Find all instances when wind speed was above 24 and visibility was 25

In [44]:
df = weather_df[(weather_df['Wind Spd (km/h)'] > 24) & (weather_df['Visibility (km)'] == 25)]

In [46]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy

## Summary / Cheatsheet: Selection/Indexing/Filtering

## This is a handy reminder for what syntax will get what result.
- Syntax	Function	Remarks
    * df['some_label']	Get the (single) Column referenced by name some_label	A str is provided
    * df[['label1', 'label2']]	Get multiple columns referenced by given names	A list is provided
    * df[start:end:step]	Get corresponding rows (same as list slicing)	A slicing operator is provided
    * df[boolean array/df]	Get corresponding rows (same as list slicing)	A filter object is provided
    * df.loc [row_sel, col_sel]	Select specified rows and columns (by labels)	
    * df.iloc[row_sel, col_sel]	Select specified rows and columns (by index)

## Working with Columns

- We will learn how to carry out Series operations on DataFrame Columns
- How to add or update columns within a DataFrame
- How to rename specific columns
- How to delete or drop a column that is no longer required for analysis

## Series Operations

<br> A series is a one-dimensional ndarray with axis labels (including time series).
<br> Labels need not be unique but must be a hashable type. The object supports both integer- and label-based indexing and provides a host of methods for performing operations involving the index. Statistical methods from ndarray have been overridden to automatically exclude missing data (currently represented as NaN).
<br>Operations between Series (+, -, /, , *) align values based on their associated index values– they need not be the same length. The result index after operation will be the sorted union of the two indexes.

Add 10 to the values in the column "Wind Spd (km/h)" using the "+" operator

In [49]:
print(weather_df["Wind Spd (km/h)"].head())
c1 = weather_df["Wind Spd (km/h)"]+10
print(c1.head())

0    4
1    4
2    7
3    6
4    7
Name: Wind Spd (km/h), dtype: int64
0    14
1    14
2    17
3    16
4    17
Name: Wind Spd (km/h), dtype: int64

Add the "Temp (C)" and "Dew Point Temp (C)" columns as series "temperature"

In [50]:
weather_df['new_temp'] = weather_df["Temp (C)"] + weather_df["Dew Point Temp (C)"]

In [51]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,new_temp
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",-4.7
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,-4.8

# Apply / Call Functions
## .apply()

You can pass any number of arguments to the function that apply is calling through either unnamed arguments, passed as a tuple to the args parameter, or through other keyword arguments internally captured as a dictionary by the kwds parameter.
<br> Invoke function on values of Series. Can be a NumPy function that applies to the entire Series or a Python function that only works on single values

In [57]:
# Applying custom functions

def times100(value):
    return value * 100

In [58]:
weather_df['Visibility (Mts)'] = weather_df['Visibility (km)'].apply(times100)
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,new_temp,Visibility (Mts)
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7,800.0
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5,800.0
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2,400.0
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",-4.7,400.0
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,-4.8,480.0

## Adding/Updating Columns

In [59]:
weather_df["Visibility (m)"] = weather_df["Visibility (Mts)"] * 10

In [60]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,new_temp,Visibility (Mts),Visibility (m)
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7,800.0,8000.0
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5,800.0,8000.0
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2,400.0,4000.0
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",-4.7,400.0,4000.0
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,-4.8,480.0,4800.0

## Renaming Columns
### .rename()

Alter Series index labels or name. It will replace the existing names with the names you provide, in the order you provide.

You can also assign the names by index.

The rename() method allows you to relabel an axis based on some mapping (a dict or Series) or an arbitrary function.

In [61]:
# Notice the "inplace=True" parameter. This means the renaming has been assigned in the old DataFrame itself

weather_df.rename(columns={'Visibility (m)': 'Visibility (meters)'}, inplace=True)
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,new_temp,Visibility (Mts),Visibility (meters)
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7,800.0,8000.0
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5,800.0,8000.0
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2,400.0,4000.0
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",-4.7,400.0,4000.0
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,-4.8,480.0,4800.0

## Deleting Columns
### .drop()

Return new object with labels in requested axis removed.

Note that Pandas uses zero based numbering, so 0 is the first row, 1 is the second row, etc. You can select ranges relative to the top or drop relative to the bottom of the DataFrame as well.

Note: Specifying both labels and index or columns will raise a ValueError.

In [62]:
# Since we have not mentioned inplace=True, it returns a new dataframe.
weather_df.drop(labels=['Visibility (Mts)'], axis=1)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,new_temp,Visibility (meters)
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7,8000.0
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5,8000.0
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2,4000.0
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",-4.7,4000.0
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,-4.8,4800.0
...,...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow,-2.6,9700.0
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow,-2.2,9700.0
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow,-2.0,4800.0
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow,-2.0,9700.0
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow,-2.1,11300.0

## Sorting
### .sort_values()
Sort by the values along either axis, in a user specified order. The order can be specified by selecting true or false for the "ascending" parameter.

In [65]:
sorted_by_temp = weather_df.sort_values('Temp (C)', ascending=False)  # can be inplace as well
sorted_by_temp.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,new_temp,Visibility (Mts),Visibility (meters)
4695,2012-07-14 15:00:00,33.0,16.8,38,22,48.3,101.31,Mainly Clear,49.8,4830.0,48300.0
4143,2012-06-21 15:00:00,33.0,19.0,44,24,24.1,100.20,Mainly Clear,52.0,2410.0,24100.0
4696,2012-07-14 16:00:00,32.9,15.3,35,24,48.3,101.26,Mainly Clear,48.2,4830.0,48300.0
5199,2012-08-04 15:00:00,32.8,18.8,44,17,24.1,101.39,Clear,51.6,2410.0,24100.0
4694,2012-07-14 14:00:00,32.7,15.3,35,28,48.3,101.35,Mainly Clear,48.0,4830.0,48300.0

## Which were the top 10 hottest values and their counts?

In [66]:
sorted_value_counts = weather_df['Temp (C)'].value_counts().sort_values(ascending=False)
sorted_value_counts.iloc[:10]

Temp (C)
16.6    65
1.1     58
0.8     47
1.5     45
19.3    44
21.1    43
2.6     43
0.4     41
1.3     40
14.6    39
Name: count, dtype: int64

In [67]:
# One Solution
mean_temperatures = {}

for month in range(1, 13):
    mean_temperatures[month] = weather_df.loc[weather_df['Date/Time'].dt.month == month, 'Temp (C)'].mean()

pd.Series(mean_temperatures)

1     -7.371505
2     -4.225000
3      3.121237
4      7.009306
5     16.237769
6     20.134028
7     22.790054
8     22.279301
9     16.484444
10    10.954973
11     0.931389
12    -3.306317
dtype: float64